* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
  }

  *,
  *:before,
  *:after {
      box-sizing: inherit;       /* enable the "border-box effect" everywhere */
  }

  .body {
    position: relative;        /* for the footer to move with the page size */
    min-height: 100%;          /* for the footer to be at the bottom */
    padding-bottom: 6rem;      /* Space available between last element and bottom border of the page */
}
  
  /* HEADER */
  .header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #2f3640;
  }

  .inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: auto;
  }

  .logo_container {
    height: 100%;
    display: table;
    float: left;
  }

  .logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 100;
  }

  .logo_container h1 span {
    font-weight: 800;
  }

  .navigation {
    float: right;
    height: 100%;
  }

  .navigation li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
  }

  .navigation li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
  }

  .navigation li a:last-child {
    padding-right: 0;
  }

  .navigation li a:before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-top: 1px solid #414b57;
    border-bottom: 1px solid #414b57;
    transform: scaleY(2);
    opacity: 0;
    transition: .6s;
    z-index: -1;
  }

  /*
  .navigation li a:hover:before {
    transform: scaleY(1);
    opacity: 1;
  }

  .navigation li a:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #414b57;
    transform: scaleY(0);
    transition: .6s;
    z-index: -1;
  }

  .navigation li a:hover:after {
    transform: scale(1);
  }*/

  /* FOOTER */
  .footer {
    width: 100%;
    display: block;
    overflow: -moz-hidden-unscrollable;
    padding: 15px 0;
    box-sizing: border-box;
    background-color: #2f3640;
    position: fixed; /* fixed is original, try absolute*/
    bottom: 0;
  }

  .inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
  }

  .inner_footer .logo_container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
  }

  .inner_footer .logo_container img{
    width: 100px;
    height: auto;
  }

  .inner_footer .footer_third {
    width: calc(21.6% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
  }

  .inner_footer .footer_third:last-child {
    margin-right: 0;
  }

  .inner_footer .footer_third h1 {
    font-family: 'Montserrat';
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inner_footer .footer_third a {
    font-family: 'Montserrat';
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
    text-decoration: none;
  }

  .inner_footer .footer_third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
    text-decoration: none;
  }

  .inner_footer .footer_third span {
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
  }

  body {
    font-family: "Montserrat", sans-serif;
    background: #6F8695;
  }
  
  h2 {
    text-align: center;
    margin: 32px;
    color: black;

  }

  /* SELECTION BOX */
  .container {
    margin-top: 0px;
    margin-right: 55%;
    padding: 32px;
  }

  .select-box {
    position: relative;
    margin: auto;
    display: flex;
    width: 400px;
    text-align: center;
    flex-direction: column;
  }
  
  .select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
  
    order: 0;
  }

  .arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    margin-left: 60%;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .selected::after {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #414b57;
  }
  
  .select-box .label {
    cursor: pointer;
  }
  
  .select-box .nodo {
    text-decoration: none;
    color: white;
  }

  /* Searchbox */
  .search-box input {
    width: 88%;
    padding: 12px 16px;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #2f3640;
    right: 0%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }

  .search-box input:focus {
    outline: none;
  }

  .select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
  }

  /* TABLE */
  .table {
    margin-top: 5%;
    margin-right: 10%;
    float: right;
  }

  td, th {
    /*border: 1px solid #dddddd;*/
    /*border-radius: 8px 8px 8px 8px;*/
    text-align: left;
    padding: 12px;
    background-color: #414b57;
    color: white;
  }

  .info {
    background-color: #2f3640;
    font-weight: bold;
  }

  /* Comandi/Bottoni */
  .comandi {
    width: 100%;
    padding: 8px;
    display: inline-block;
  }

  .comandi-third {
    display: block;
  }

  .comandi .comandi-third {
    width: calc(22.5%);
    margin-right: 10px;
    float: left;
    height: 100%;
  }
  
  .vent_on {
    border-radius: 8px 0px 0px 8px;
    background-color: #2f3640;
    padding: 8px;
    color: white;
  }
  
  .vent_off {
    border-radius: 0px 8px 8px 0px;
    background-color: #2f3640;
    padding: 8px;
    color: white;
  }

  .lamp_on {
    border-radius: 8px 0px 0px 8px;
    background-color: #2f3640;
    padding: 8px;
    color: white;
  }
  
  .lamp_off {
    border-radius: 0px 8px 8px 0px;
    background-color: #2f3640;
    padding: 8px;
    color: white;
  }

  .vent_on:hover {
    background: #414b57;
  }

  .vent_off:hover {
    background: #414b57;
  }

  .lamp_on:hover {
    background: #414b57;
  }

  .lamp_off:hover {
    background: #414b57;
  }

  .btn_pdf {
    border-radius: 8px 8px 8px 8px;
    background-color: #2f3640;
    padding: 8px;
    color: white;
  }

  .btn_pdf:hover {
    background: #414b57;
  }

  .slider {
    padding: 8px;
    background: white;
    opacity: 1;
  }
/*
  .range {
    background-color: #2f3640;
    border-radius: 8px;
  }*/

  